extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-link
        a(href='/admin/carrier') Carriers
      li.crumb-active
        a(href='/admin/findparcels/#{driverId}') Find parcels

block content
  .row
    .col-md-12
      if err
        .alert.alert-theme= err
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            | Parcels
        .panel-body
          table.table.table-hover
            thead
              tr
                th #
                th Sender
                th Size
                th Weight
                th Departure date
                th Accept
            tbody
              if result
                each it in result
                  tr(onclick='javascript:location.href="/admin/carrier/#{it.id}"')
                    td= it.id
                    td #{it.owner.firstname} #{it.owner.lastname}
                    td #{it.length} x #{it.width} x #{it.depth}
                    td= it.weight
                    td= it.pickupDate
                    td
                      if it.request 
                        if it.request.driverAccepted
                          button.btn.btn-default(type='button') Accepted
                        else
                          a(href='/admin/accept/carrier/#{driverId}/parcel/#{it.id}')
                            button.btn.btn-info.btn-gradient(type='button')
                              i.glyphicons.glyphicons-ok
                      else
                        a(href='/admin/accept/carrier/#{driverId}/parcel/#{it.id}')
                          button.btn.btn-info.btn-gradient(type='button')
                            i.glyphicons.glyphicons-ok

      
