extend layoutm

block content
  // content
  section.section
    h1 #{__('Password recovery')}
    .container
      form.form.transporter.js-validate(action='/', method='GET')
        h3 #{__('This is your new password:')}
        label(for='password') 
        input#password.required(name='password', type='text', placeholder='', value='#{password}' readonly)
        h3 #{__('Use your email address and this password for log in.')}
        button.orange_button #{__('Login')}
        h3 #{__('We also sent the password to your email. So we hope you don\'t forget it any more.')}

block script
  script(type='text/javascript').
