extend layoutm

block content
  // content
  section.section
    h1 Transporter Parameters
    .container
      form.form.transporter.js-validate(action='/api/user/#{user.id}', method='POST')
        h3 Transport coverage
        label(for='nb_vehicle') NB OF VEHICLE:
        input#nb_vehicle.required(name='vehicleNum', type='text', placeholder='1', value='#{user.vehicleNum}')
        label(for='type_vehicle') TYPE OF VEHICLE:
        input#type_vehicle.required(name='vehicleType', type='text', placeholder='Car', value='#{user.vehicleType}')
        h3 Volume coverage
        label MAXI PARCEL SIZE:
        .form-sizes_scroll
          ul.form-sizes
            li
              span.up
                i.fa.fa-chevron-up
              input(name='maxWeight', type='number', pattern='[0-9]*', inputmode='numeric', placeholder='0', value='#{user.maxWeight}')
              em kg
              span.down
                i.fa.fa-chevron-down
              strong Weight
            li
              span.up
                i.fa.fa-chevron-up
              input(name='maxLength', type='number', pattern='[0-9]*', inputmode='numeric', placeholder='0', value='#{user.maxLength}')
              em cm
              span.down
                i.fa.fa-chevron-down
              strong Length
            li
              span.up
                i.fa.fa-chevron-up
              input(name='maxWidth', type='number', pattern='[0-9]*', inputmode='numeric', placeholder='0', value='#{user.maxWidth}')
              em cm
              span.down
                i.fa.fa-chevron-down
              strong Width
            li
              span.up
                i.fa.fa-chevron-up
              input(name='maxDepth', type='number', pattern='[0-9]*', inputmode='numeric', placeholder='0', value='#{user.maxDepth}')
              em cm
              span.down
                i.fa.fa-chevron-down
              strong Depth
        label(for='nb_max') NB OF MAXI PARCEL PER DAY
        input#nb_max.required(name='parcelsPerDay', type='text', placeholder='', value='#{user.parcelsPerDay}')
        h3 Geography coverage
        div
          label I CAN TRANSPORT THOUGH:
          input.required(name='country', type='text', placeholder='Country', value='#{user.country}')
          input.required(name='zip', type='text', placeholder='Zip Code', value='#{user.zip}')
          label(for='place') WITHIN AN AREA OF:
          input#place.required(name='coverageDistance', type='text', placeholder='Coverage distance', value='#{user.coverageDistance}')
          label ON DAYS:
          ul.days
            li
              input#mon(name='workDay0', type='checkbox', value='true', checked=user.workDay0)
              label(for='mon') Mon
            li
              input#tue(name='workDay1', type='checkbox', value='true', checked=user.workDay1)
              label(for='tue') Tue
            li
              input#wed(name='workDay2', type='checkbox', value='true', checked=user.workDay2)
              label(for='wed') Wed
            li
              input#thu(name='workDay3', type='checkbox', value='true', checked=user.workDay3)
              label(for='thu') Thu
            li
              input#fri(name='workDay4', type='checkbox', value='true', checked=user.workDay4)
              label(for='fri') Fri
            li
              input#sat(name='workDay5', type='checkbox', value='true', checked=user.workDay5)
              label(for='sat') Sat
            li
              input#sun(name='workDay6', type='checkbox', value='true', checked=user.workDay6)
              label(for='sun') Sun
        .map
          h3 geography data:
          #map4
        h3 Time coverage
        label(for='speed') MY SPEED IS ROUGHLY:
        input#speed.required(name='averageSpeed', type='text', placeholder='XXXX', value='#{user.averageSpeed}')
        label(for='max_speed') MY MAXI KM PER DAY:
        input#max_speed.required(name='averageDayDistance', type='text', placeholder='XXXX', value='#{user.averageDayDistance}')
        h3 Pricing
        label(for='price_km') PRICE PER KM (€):
        input#price_km.required(name='pricePerKm', type='text', placeholder='XX', value='#{user.pricePerKm}')
        //label(for='price_country') PRICE PER COUNTRY:
        //input#price_country.required(type='text', placeholder='10€')
        label(for='price_ft') PRICE FROM/TO (€):
        input#price_ft.required(name='defaultPrice', type='text', placeholder='XX', value='#{user.defaultPrice}')
        button.orange_button Save details
        h3 My Payment Data
        ul.form-info
          li
            | CARD NUMBER IS: 
            strong 41XX XXXX XXXX 7689
          li
            | TUBER BALANCE: 
            strong #{user.balance}&euro;
        .form-withdraw
          label(for='withdraw') I WANT withdrawal:
          input#withdraw(type='text')
          a.blue_button(href='#') SEND

block script
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    $('.js-validate').submit(function() {
      regdata = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: this.action,
        data: regdata,
        success: function(data) {
          console.log('Result', data);
          location.href = '/dashboard?m=1';
        },
        error: function(err) {
          console.log("Error", err);
        }});
      return false;
    });
    var mapCanvas4 = document.getElementById('map4');
    var mapOptions4 = {
      center: new google.maps.LatLng(#{user.latitude}, #{user.longitude}),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map4 = new google.maps.Map(mapCanvas4, mapOptions4);
