extend layoutm

block content
  // content
  section.section
    h1 #{__('Packet24 parcels delivery')}
    //
      <ul class="breadcrumbs">
      <li>You are here</li>
      <li><i class="fa fa-angle-double-right"></i><span>About my parcel</span></li>
      </ul>
    if parcel
      include msiteparcelstatus
    h2.centred_title
      | #{__('Call us on')}  
      span +49 511 879 893 02
      br
      strong #{__('or')}
      |  #{__('fill in an enquiry below.')}
    .container
      .login
        form.form.js-validate(action='/login', method='POST')
          i.icons-want_send_parsel
          h3 #{__('I want to SEND a parcel')}
          label(for='send_login') #{__('Login/E-mail adress')}
          input#send_login.required(type='text', name='email')
          label(for='send_password') #{__('Password')}
          input#send_password.required(type='password', name='password')
          button.orange_button(type='submit') #{__('Send')}
          a(href='/passwordrestore?m=1') #{__('Forgot your password?')} 
          span #{__('or')}
          a(href='/registration?driver=false&m=1')  #{__('Register')}
      .login
        form.form.js-validate(action='transporter_parameters.html', method='get')
          i.icons-can_transport_parsel
          h3 #{__('I want to TRANSPORT a parcel')}
          label(for='transport_login') #{__('Login/E-mail adress')}
          input#transport_login.required(type='text', name='email')
          label(for='transport_password') #{__('Password')}
          input#transport_password.required(type='password', name='password')
          button.orange_button(type='submit') #{__('Send')}
          a(href='/passwordrestore?m=1') #{__('Forgot your password?')} 
          span #{__('or')}
          a(href='/registration?driver=true&m=1')  #{__('Register')}
  // promo
  section.promo
    .container
      h2 #{__('Parcel delivery')}
      p
        | #{__('Packet24 is a parcels delivery service for p2p fast delivery.')}
        br
        | #{__('Check for details')}
      a(href='/')
        | #{__('SUBSCRIBE')}
        br
        | #{__('HERE')}

block script
  script(type='text/javascript').
    $('.js-validate').submit(function() {
      $.post(this.action, $(this).serialize(), function(data) {
        console.log('Logged in', data);
        location.reload();
      });
      return false;
    });
