extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/parcel') Parcels
  .topbar-right
    ol.breadcrumb
      a(href='/admin/parcel/new')
        button.btn.btn-info(class='button') Create new

block content
  .modal.fade#rmModal(tabindex='-1', role='dialog', aria-labelledby='rmModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close', onClick='delete window.currentRequestId;')
            span(aria-hidden='true') x
          h4 Remove this item?
        .modal-body
          | You can not undone this operation
        .modal-footer
          button.btn.btn-default(data-dismiss='modal', type='button', onClick='delete window.currentRequestId;') Cancel
          button.btn.btn-primary(data-dismiss='modal', type='button', onClick='javascript:removeItem();') Remove
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  
        .panel-body
          table.table.table-hover
            thead
              tr
                //th(onclick='javascript:location.href="/admin/parcel?sort=id"') #
                th Sender
                th Driver
                th Size
                th(onclick='javascript:location.href="/admin/parcel?sort=weight"') Weight
                th(onclick='javascript:location.href="/admin/parcel?sort=pickupDate"') Departure time
                th(onclick='javascript:location.href="/admin/parcel?sort=arriveDate"') Arrival time
                th(onclick='javascript:location.href="/admin/parcel?sort=status"') Status
                th Find carriers
                th Edit
                th Finance
                th Delete
            tbody
              if result
                each it in result
                  tr(onclick='javascript:if(!window.currentRequestId){location.href="/admin/parcel_log/#{it.id}";}')
                    //td= it.id
                    if it.owner
                      td #{it.owner.firstname} #{it.owner.lastname}
                    else
                      td None
                    if it.driver
                      td #{it.driver.firstname} #{it.driver.lastname}
                    else
                      td None
                    td #{it.length} x #{it.width} x #{it.depth}
                    td= it.weight
                    td= it.pickupDate
                    td= it.arriveDate
                    td= it.status
                    td
                      if it.status == 'published'
                        a(href='/admin/findcarriers/#{it.id}')
                          button.btn.btn-info.btn-gradient(type='button')
                            i.fa.fa-truck
                    td
                      a(href='/admin/parcel/#{it.id}')
                        button.btn.btn-info(class='button') 
                          span.glyphicons.glyphicons-edit
                    td
                      a(href='/admin/parcel_finance/#{it.id}')
                        button.btn.btn-info(class='button')
                          span.glyphicons.glyphicons-coins
                    td
                      a(href='javascript:; ', onclick='window.currentRequestId = "#{it.id}";')
                        button.btn.btn-danger(class='button', data-toggle='modal', data-target='#rmModal') X
          .dataTables_info
            | Page #{page}
          .dataTables_paginate.paging_bs_normal
            ul.pagination.pagination-sm
              - for (var i=1; i<=pages; i++)
                if (i == page)
                  li.active
                    a(href='/admin/parcel?sort=#{sort}&page=#{i}') #{i}
                else
                  li
                    a(href='/admin/parcel?sort=#{sort}&page=#{i}') #{i}

block script
  script(type='text/javascript').
    window.removeItem = function() {
      $.ajax({
        url: '/api/parcel/'+window.currentRequestId,
        type: 'DELETE',
        success: function() {
          location.reload();
        }
      });
    };