extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/parcel') Parcels
  .topbar-right
    ol.breadcrumb
      a(href='/admin/parcel/new')
        button.btn.btn-info(class='button') Create new

block content
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  
        .panel-body
          table.table.table-hover
            thead
              tr
                th(onclick='javascript:location.href="/admin/parcel?sort=id"') #
                th Sender
                th Driver
                th Size
                th(onclick='javascript:location.href="/admin/parcel?sort=weight"') Weight
                th(onclick='javascript:location.href="/admin/parcel?sort=pickupDate"') Departure time
                th(onclick='javascript:location.href="/admin/parcel?sort=arriveDate"') Arrival time
                th(onclick='javascript:location.href="/admin/parcel?sort=status"') Status
                th Find carriers
            tbody
              if result
                each it in result
                  tr(onclick='javascript:location.href="/admin/parcel/#{it.id}"')
                    td= it.id
                    if it.owner
                      td #{it.owner.firstname} #{it.owner.lastname}
                    else
                      td None
                    if it.driver
                      td #{it.driver.firstname} #{it.driver.lastname}
                    else
                      td None
                    td #{it.length} x #{it.width} x #{it.depth}
                    td= it.weight
                    td= it.pickupDate
                    td= it.arriveDate
                    td= it.status
                    td
                      if it.status == 'published'
                        a(href='/admin/findcarriers/#{it.id}')
                          button.btn.btn-info.btn-gradient(type='button')
                            i.fa.fa-truck

