extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/person') Persons
  .topbar-right
    ol.breadcrumb
      a(href='/admin/person/new')
        button.btn.btn-info(class='button') Create new

block content
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  
        .panel-body
          table.table.table-hover
            thead
              tr
                th(onclick='javascript:location.href="/admin/person?sort=id"') #
                th(onclick='javascript:location.href="/admin/person?sort=firstname"') First Name
                th(onclick='javascript:location.href="/admin/person?sort=lastname"') Last Name
                th(onclick='javascript:location.href="/admin/person?sort=zip"') ZIP
            tbody
              if result
                each it in result
                  tr(onclick='javascript:location.href="/admin/person/#{it.id}"')
                    td= it.id
                    td= it.firstname
                    td= it.lastname
                    td= it.zip
