extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/request') Requests

block content
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  Requests
        .panel-body
          table.table.table-hover
            thead
              tr
                th(onclick='javascript:location.href="/admin/request?sort=id"') #
                th Sender
                th Carrier
                th Departure
                th(onclick='javascript:location.href="/admin/request?sort=senderAccepted"') Sender accepted
                th(onclick='javascript:location.href="/admin/request?sort=driverAccepted"') Carrier accepted
                th(onclick='javascript:location.href="/admin/request?sort=paid"') Paid
            tbody
              if result
                each it in result
                  tr
                    td= it.id
                    if it.sender
                      td #{it.sender.firstname} #{it.sender.lastname}
                    else
                      td None
                    if it.driver
                      td #{it.driver.firstname} #{it.driver.lastname}
                    else
                      td None
                    if it.parcel && it.parcel.pickupDate
                      td= it.parcel.pickupDate
                    else
                      td
                    td= it.senderAccepted
                    td= it.driverAccepted
                    td= it.paid