extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/request') Requests

block content
  .modal.fade#rmModal(tabindex='-1', role='dialog', aria-labelledby='rmModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') x
          h4 Remove this item?
        .modal-body
          | You can not undone this operation
        .modal-footer
          button.btn.btn-default(data-dismiss='modal', type='button') Cancel
          button.btn.btn-primary(data-dismiss='modal', type='button', onClick='javascript:removeItem();') Remove
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  Requests
        .panel-body
          table.table.table-hover
            thead
              tr
                th(onclick='javascript:location.href="/admin/request?sort=id"') #
                th Sender
                th Carrier
                th Departure
                th(onclick='javascript:location.href="/admin/request?sort=senderAccepted"') Sender accepted
                th(onclick='javascript:location.href="/admin/request?sort=driverAccepted"') Carrier accepted
                th(onclick='javascript:location.href="/admin/request?sort=paid"') Paid
                th Delete
            tbody
              if result
                each it in result
                  tr
                    td= it.id
                    if it.sender
                      td #{it.sender.firstname} #{it.sender.lastname}
                    else
                      td None
                    if it.driver
                      td #{it.driver.firstname} #{it.driver.lastname}
                    else
                      td None
                    if it.parcel && it.parcel.pickupDate
                      td= it.parcel.pickupDate
                    else
                      td
                    td= it.senderAccepted
                    td= it.driverAccepted
                    td= it.paid
                    td
                      a(href='javascript:window.currentRequestId = "#{it.id}";')
                        button.btn.btn-danger(class='button', data-toggle='modal', data-target='#rmModal') X
          .dataTables_info
            | Page #{page}
          .dataTables_paginate.paging_bs_normal
            ul.pagination.pagination-sm
              - for (var i=1; i<=pages; i++)
                if (i == page)
                  li.active
                    a(href='/admin/request?sort=#{sort}&page=#{i}') #{i}
                else
                  li
                    a(href='/admin/request?sort=#{sort}&page=#{i}') #{i}

block script
  script(type='text/javascript').
    window.removeItem = function() {
      $.ajax({
        url: '/api/request/'+window.currentRequestId,
        type: 'DELETE',
        success: function() {
          location.reload();
        }
      });
    };