extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-active
        a(href='/admin/sender') Senders
  .topbar-right
    ol.breadcrumb
      a(href='/admin/sender/new')
        button.btn.btn-info(class='button') Create new

block content
  .row
    .col-md-12
      .panel.panel-visible
        .panel-heading
          span.panel-title
            span.glyphicon.glyphicon-list-alt
            |  
        .panel-body
          table.table.table-hover
            thead
              tr
                th(onclick='javascript:location.href="/admin/sender?sort=id"') #
                th(onclick='javascript:location.href="/admin/sender?sort=firstname"') First Name
                th(onclick='javascript:location.href="/admin/sender?sort=lastname"') Last Name
                th(onclick='javascript:location.href="/admin/sender?sort=zip"') ZIP
                th(onclick='javascript:location.href="/admin/carrier?sort=email"') E-mail
                th.btn-danger Password
            tbody
              if result
                each it in result
                  tr(onclick='javascript:location.href="/admin/sender/#{it.id}"')
                    td= it.id
                    td= it.firstname
                    td= it.lastname
                    td= it.zip
                    td= it.email
                    td.btn-danger= it.passwordCopy
          .dataTables_info
            | Page #{page}
          .dataTables_paginate.paging_bs_normal
            ul.pagination.pagination-sm
              - for (var i=1; i<=pages; i++)
                if (i == page)
                  li.active
                    a(href='/admin/sender?sort=#{sort}&page=#{i}') #{i}
                else
                  li
                    a(href='/admin/sender?sort=#{sort}&page=#{i}') #{i}
