extend layoutsite

block content
  // content
  section.section
    h1 #{__('FAQs: Account Information and Access')}
    ul.breadcrumbs
      li #{__('You are here')}
      li
        i.fa.fa-angle-double-right
        span #{__('FAQ')}
    .container
      if lang == 'en'
        ul.faq_accordion.js-accordion
          li
            span
              | Parcel24 revolutionises the market for parcel services - we bring couriers and customers together, so privately sent post gets better and faster from A to B. The idea behind our innovative concept: Everyone can carry letters and packages and make money. Simply register on parcel24.com and be informed when a parcel needs to be delivered in your area or on the route you have defined. Parcel24 is a new and interesting business model for those who want to be their own boss with a flexible schedule. All you need is a driver's license and a vehicle.
            span
              | Private customers, who want to send parcels, benefit from a quick delivery by Parcel24. After the one-time registration, you can choose from different options for each delivery: express, cheap or environmentally friendly. The price is determined by the transport route and duration. Whether from a post office to your home or from your grandmother’s to a parcel pick up station - everything is possible. Once a courier accepts the order, the letter or parcel sets off and you will be notified immediately. In general, the transport starts within 24 hours.
            span
              | Use Parcel24 for a reliable delivery of your parcels and letters or as an additional income opportunity with flexible working hours.
      if lang == 'de'
        ul.faq_accordion.js-accordion
          li
            span
              | Parcel24 revolutioniert den Markt der Paketdienste – wir bringen Kuriere und Kunden zusammen, damit privat verschickte Post besser und schneller von A nach B gelangt. Die Idee hinter unserem innovativen Konzept: Jeder kann Briefe und Pakete transportieren und damit Geld verdienen. Einfach auf parcel24.de registrieren und informiert werden, wenn ein Paket in Ihrem Umkreis oder auf der von Ihnen definierten Route zugestellt werden muss. Parcel24 ist ein neues und interessantes Geschäftsmodell für alle, die gerne ihr eigener Chef sind und flexibel arbeiten wollen. Alles, was Sie dafür brauchen, sind Führerschein und Fahrzeug.
            span
              | Privatkunden, die Pakete verschicken wollen, profitieren ebenfalls durch Parcel24 von einer schnellen Zustellung. Nach der einmaligen Registrierung kann bei jedem Zustellwunsch zwischen verschiedenen Optionen gewählt werden: Express, günstig oder umweltfreundlich. Transportweg und -dauer bestimmen den Preis. Ob von einer Postfiliale nach Hause oder von der Oma zur Packstation – alles ist möglich. Sobald ein Zusteller den Auftrag annimmt, machen sich Brief oder Päckchen auf den Weg und Sie werden sofort informiert. In der Regel erfolgt die Annahme innerhalb von 24 Stunden.
            span
              | Nutzen Sie Parcel24 für die zuverlässige Zustellung Ihrer Pakete und Briefe oder als zusätzliche Verdienstmöglichkeit mit flexiblen Arbeitszeiten. 
      //.faq_select
        span.faq_select-span #{__('View questions about:')}
        .faq_select-body
          select.js-select(name='')
            option(value='Account information and access') #{__('Account information and access')}
            option(value='Parcels delievery') #{__('Parcels delievery')}
            option(value='Prices') #{__('Prices')}
            option(value='How get a money') #{__('How get a money')}
        ul.faq_select-ul
          li
            a(href='#') #{__('Show all Answers')}
          li
            a(href='#') #{__('Hide all')}
      //ul.faq_accordion.js-accordion
        li
          span
            i.icons-faq_arrow
            | #{__('How do I access my account?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I find my account number?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I find the nearest Bank of America banking center?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('What is a banking center?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('What are your hours?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I change my address?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I change my legal name?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
  // promo
  section.promo
    .container
      h2 #{__('Parcel delivery')}
      p
        | #{__('Packet24 is a parcels delivery service for p2p fast delivery.')}
        br
        //| #{__('Check for details')}
      //a(href='#')
        | #{__('SUBSCRIBE')}
        br
        | #{__('HERE')}
