extend layoutsite

block header
  // header section
  section.header-section
    .container
      ul
        if user.driver
          li
            span #{__('Dashboard')}
        if !user.driver
          li
            a(href='javascript:;') 1. #{__('Price offers')}
          li
            a(href='javascript:;') 2. #{__('Confirmation')}
          li
            a(href='javascript:;') 3. #{__('Payment')}
          li
            span 4. #{__('Dashboard')}
      span.title #{user.firstname} #{user.lastname}

block content
  // content
  section.section
    .container
      .sitebar.js-tabs
        ul.nav
          li
            a(href='#') #{__('My parameters')}
          li.active
            a(href='#') #{__('MY ORDERS/Status/details')}
          li
            a(href='#') #{__('My payments')}
          li
            a(href='#') #{__('My archive')}
      .content
        // tab
        .js-tab-body
          .sender
            ul
              li
                | #{__('NAME:')}
                strong #{user.firstname} #{user.lastname}
              li
                | #{__('COMPANY (optional):')}
                strong #{user.company}
              li
                | #{__('VAT (optional):')}
                strong #{user.vat}
              li
                | #{__('ADRESS:')}
                strong #{user.zip} #{user.city} #{user.address1} #{user.address2}
              li
                | #{__('MOBILE PHONE:')}
                strong #{user.phone}
              li
                | #{__('E-MAIL:')}
                strong #{user.email}
              li
                | #{__('SUBSCRIBE:')}
                strong #{__('YES')}
            a.orange_button(href='/profile') #{__('CHANGE MY INFO')}
            .pattern
        // tab
        .js-tab-body(style='display: block;')
          if parcels && parcels.length
            each parcel in parcels
              .sender
                if parcel.request && parcel.request.trackingNumber
                  h3 #{parcel.request.trackingNumber}
                else
                  h3 #{__('NO TRACKING NUMBER')}
                ul
                  if parcel.request && parcel.request.status
                    li
                      | #{__('CURRENT:')} 
                      em #{parcel.request.status}
                  li
                    | #{__('SENDING DETAILS:')} 
                    strong #{parcel.weight}kg, #{parcel.width}cm x #{parcel.length}cm x #{parcel.depth}cm
                  li.no-margin
                    | #{__('DEPARTURE DATE:')} 
                    strong #{moment(parcel.pickupDate).format('LL')}
                  li
                    | #{__('ARRIVAL DATE:')} 
                    strong #{moment(parcel.arriveDate).format('LL')}
                  li.no-margin
                    | #{__('FROM:')} 
                    if parcel.fromPerson
                      strong #{parcel.fromPersonAddress()}
                    else
                      strong #{parcel.ownerAddress()}
                  li
                    | #{__('TO:')} 
                    if parcel.toPerson
                      strong #{parcel.toPersonAddress()}
                    else
                      strong #{parcel.ownerAddress()}
                  //li.no-margin
                    | #{__('INSURRANCE:')} 
                    strong Standart (until #{parcel.insurance}&euro;)
                  //li
                  //  | #{__('DELIVERY OPTIONS:')}
                  //  if parcel.request && parcel.request.deliveryPrice
                  //    strong +#{parcel.request.deliveryPrice}&euro; #{parcel.request.deliveryOption}
                  li
                    | #{__('TOTAL AMOUNT (Including VAT):')}
                    if parcel.request
                      strong #{(parcel.request.price+parcel.request.deliveryPrice).toFixed(2)}&euro;
                if parcel.fromPerson
                  .sender-name
                    figure
                      span #{__('THE SENDER:')}
                      //img(src='/img/person.png', alt='')
                      //figcaption
                        a(href='tel://#{parcel.fromPerson.phone}')
                          i.fa.fa-phone-square
                          | #{__('call')}
                    ul
                      li
                        | #{__('NAME:')} 
                        strong #{parcel.fromPerson.firstname} #{parcel.fromPerson.lastname}
                      //li
                        | #{__('RAITE:')} 
                        span.rating
                          span &star;
                          span &star;
                          span &star;
                          span &star;
                          span &star;
                      li
                        | #{__('PHONENUMBER:')} 
                        strong #{parcel.fromPerson.phone}
                if parcel.toPerson
                  .sender-name
                    figure
                      span #{__('THE RECIPIENT:')}
                      //img(src='/img/person.png', alt='')
                      //figcaption
                        a(href='tel://#{parcel.toPerson.phone}')
                          i.fa.fa-phone-square
                          | #{__('call')}
                    ul
                      li
                        | #{__('NAME:')} 
                        strong #{parcel.toPerson.firstname} #{parcel.toPerson.lastname}
                      //li
                        | #{__('RAITE:')} 
                        span.rating
                          span &star;
                          span &star;
                          span &star;
                          span &star;
                          span &star;
                      li
                        | #{__('PHONENUMBER:')} 
                        strong #{parcel.toPerson.phone}
                .clear
                if parcel.status == 'draft'
                  h3 #{__('THE ORDER NOT COMPLETED')}
                else if parcel.status == 'published'
                  if parcel.request && !parcel.request.driverAccepted
                    a.orange_button.cansel_order(href='#', onClick='acceptOrder("#{parcel.id}")') #{__('ACCEPT ORDER')}
                  else
                    h3 #{__('THE ORDER NOT PAID')}
                else if parcel.status == 'accepted'
                  a.orange_button.cansel_order(href='#', onClick='startOrder("#{parcel.id}")') #{__('ORDER PICKED UP')}
                else if parcel.status == 'started'
                  a.orange_button.cansel_order(href='#', onClick='location.href="/subscript?parcel=#{parcel.id}"') #{__('CONFIRM DELIVERY')}
                //else if parcel.status == 'arrived'
                //  a.orange_button.cansel_order(href='#', onClick='archiveOrder("#{parcel.id}")') #{__('ARCHIVE RECORD')}
                //else
                //  a.orange_button.cansel_order(href='#', onClick='deleteOrder("#{parcel.id}")') #{__('DELETE')}
                .pattern
            ul.pagination
              li.prev
                a(href='/dashboard')
                  i.fa.fa-angle-double-left
              - for (var i=1; i<=pages; i++)
                if (i == page)
                  li.active
                    a(href='/dashboard?page=#{i}') #{i}
                else
                  li
                    a(href='/dashboard?page=#{i}') #{i}
              li.next
                a(href='/dashboard?page=#{pages}')
                  i.fa.fa-angle-double-right
          else
            .sender
              .clear
              h3 #{__('YOU HAVE NO PARCELS YET')}
              .clear
        // tab
        .js-tab-body
          if payments && payments.length
            each payment in payments
              .sender
                ul
                  li
                    | #{__('ORDER NO:')} 
                    strong #{payment.trackingNumber}
                  li
                    | #{__('PAYMENT STATUS')} 
                    em #{__('Pay Success')}
                  li.no-margin
                    | #{__('TOTAL AMOUNT:')}
                    strong #{payment.price} &euro;
                  li
                    | #{__('Received:')}
                    strong #{payment.price} &euro; 
                  li.no-margin
                    | #{__('Payment Method:')} 
                    strong #{__('Credit Card')}
                  li
                    | #{__('Date Received:')} 
                    strong #{moment(payment.updatedAt).format('LL')}
                .pattern
          else
            .sender
              .clear
              h3 #{__('YOU HAVE NO PAYMENTS YET')}
              .clear
        // tab
        .js-tab-body
          if archive && archive.length
            each parcel in archive
              .sender
                if parcel.request && parcel.request.trackingNumber
                  h3 #{parcel.request.trackingNumber}
                else
                  h3 #{__('NO TRACKING NUMBER')}
                ul
                  li
                    | #{__('STATUS:')}
                    if parcel.status == 'archive'
                      em  #{__('Arrived')}
                    if parcel.status == 'canceled'
                      em  #{__('Canceled')}
                  li
                    | #{__('SENDING DETAILS:')} 
                    strong #{parcel.weight}#{__('kg')}, #{parcel.width}#{__('cm')} x #{parcel.length}#{__('cm')} x #{parcel.depth}#{__('cm')}
                  li.no-margin
                    | #{__('DEPARTURE DATE:')} 
                    strong #{moment(parcel.pickupDate).format('LL')}
                  li
                    | #{__('ARRIVAL DATE:')} 
                    strong #{moment(parcel.arriveDate).format('LL')}
                  li.no-margin
                    | #{__('FROM:')} 
                    if parcel.fromPerson
                      strong #{parcel.fromPersonAddress()}
                    else
                      strong #{parcel.ownerAddress()}
                  li
                    | #{__('TO:')} 
                    if parcel.toPerson
                      strong #{parcel.toPersonAddress()}
                    else
                      strong #{parcel.ownerAddress()}
                  li.no-margin
                    | #{__('INSURRANCE:')} 
                    strong #{__('Standard')} (#{__('until')} #{parcel.insurance}&euro;)
                  li
                    | #{__('DELIVERY OPTIONS:')} 
                    strong +0&euro; #{__('to home adress')}
                  li
                    | #{__('TOTAL AMOUNT (Including VAT):')} 
                    strong #{(parcel.request.price+parcel.request.deliveryPrice).toFixed(2)}&euro;
                //a.orange_button.want_popup(href='#') I WANT DELIVERY THIS ORDER
                //span.note * You must delivery this order to 23/11/2015
                .pattern
          else
            .sender
              .clear
              h3 #{__('YOU HAVE NO ARCHIVED PARCELS YET')}
              .clear
      #cancel_box.popup_box
        span
          | #{__('CONFIRMATION')}
          //strong SA12345678.
        br
        strong #{__('Confirm that you picked up the order')}
        br
        em * #{__('Mark order as picked up only after you really get the parcel')}
        br
        a.orange_button(href='javascript:reallyStartOrder();') #{__('PICK UP THE ORDER')}
        a.gray_button.b-close(href='#') #{__('NOT YET')}

block script
  script(type='text/javascript').
    function startOrder(id) {
      window.startedOrderId = id
      console.log('Start order', id);
      $('#cancel_box').bPopup({
        easing: 'easeOutBack',
        speed: 450,
        transition: 'slideDown'
      });
    }
    function reallyStartOrder() {
      $.ajax({
        type: 'POST',
        url: '/api/parcel/'+window.startedOrderId,
        data: {'status': 'started'},
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          console.log(data);
        }
      });
    }
    function confirmOrder(id) {
      console.log('Confirm order', id);
      $.ajax({
        type: 'POST',
        url: '/api/parcel/'+id,
        data: {'status': 'arrived'},
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          console.log(data);
        }
      });
    }
    function acceptOrder(parcelId) {
      console.log('Accept order', parcelId);
      $.ajax({
        type: 'GET',
        url: '/accept/carrier/parcel/'+parcelId,
        success: function(data) {
          location.reload();
        },
        error: function(err) {
          console.log('Accept order error:', err);
        }
      });
    }
    /*
    function archiveOrder(id) {
      console.log('Archive order', id);
      $.ajax({
        type: 'POST',
        url: '/api/parcel/'+id,
        data: {'status': 'archive'},
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          console.log(data);
        }
      });
    }
    function deleteOrder(id) {
      console.log('Delete order', id);
      $.ajax({
        type: 'DELETE',
        url: '/api/parcel/'+id,
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          console.log(data);
        }
      });
    }
    */