extend layoutsite

block head
  link(rel="stylesheet", href="css/easy-autocomplete.min.css")
  link(rel="stylesheet", href="css/easy-autocomplete.themes.min.css")

block content
  // content
  section.section
    h1 #{__('Packet24 parcels delivery')}
    ul.breadcrumbs
      li #{__('You are here')}
      li
        i.fa.fa-angle-double-right
        span #{__('Registration')}
    h2.centred_title
      | #{__('Call us on')}  
      span +49 511 879 893 02
      br
      strong #{__('or')}
      |  #{__('fill in an enquiry below.')}
    .container.bordered
      form.form.js-validate(action='/api/user', method='POST')
        figure.profile
          img(src='/img/profile.png', alt='')
          //input#uplad_image.uplad_image(type='file')
          //label(for='uplad_image') #{__('Upload my picture')}
        .form-margined
          h3 #{__('About me')}
          label(for='first_name') #{__('FIRST NAME*')}
          input#first_name.required.minLength-3(type='text', placeholder='#{__("Name")}', name='firstname')
          label(for='last_name') #{__('LAST NAME*')}
          input#last_name.required.minLength-3(type='text', placeholder='#{__("Family name")}', name='lastname')
          label(for='first_name') #{__('COMPANY (optional)')}
          input#first_name(type='text', name='company')
          label(for='vat') #{__('VAT (optional)')}
          input#vat(type='text', placeholder='#{__("DE000000000")}', name='vat')
          label(for='address_str') #{__('ADDRESS (street)*')}
          input#address_str.required.minLength-3(type='text', placeholder='#{__("Bruhlstr")}', name='address1')
          label(for='address_num') #{__('ADDRESS (number)*')}
          input#address_num.required(type='text', placeholder='#{__("11")}', name='address2')
          label(for='zip') #{__('ZIP CODE*')}
          input#zip.required.number.minLength-5(type='text', placeholder='#{__("10557")}', name='zip')
          label(for='city') #{__('CITY*')}
          input#city.required.minLength-3(type='text', placeholder='#{__("Hannover")}', name='city')
          label(for='country') #{__('COUNTRY*')}
          input#country.required(type='text', placeholder='#{__("Germany")}', name='country')
          label(for='mobile') #{__('MOBILE PHONE*')}
          input#mobile.required(type='text', placeholder='#{__("+49 511 879 893 02")}', name='phone')
          label(for='email') #{__('E-MAIL*')}
          input#email.required.email(type='text', name='email')
          label(for='email_again') #{__('E-MAIL CONFIRMATION*')}
          input#email_again.required.email(type='text')
          p#email_differs(style='color: red; display: none;') #{__('E-MAILS DIFFERS')}
          label(for='password') #{__('PASSWORD*')}
          input#password.required.minLength-6(type='password', name='password')
          p#password_tooshort(style='color: red; display: none;') #{__('PASSWORD TOO SHORT')}
          label(for='password_again') #{__('PASSWORD CONFIRMATION*')}
          input#password_again.required.minLength-6(type='password')
          p#password_differs(style='color: red; display: none;') #{__('PASSWORDS DIFFERS')}
          input(type='hidden', name='driver', value='#{driver}')
          input(type='hidden', name='lang', value='#{lang}')
          p#err11000(style='color: red; display: none;') #{__('USER WITH SUCH EMAIL ALREADY EXISTS')}
          p#addressError(style='color: red; display: none;') #{__('There is no such index in Germany')}
          button.orange_button #{__('CONFIRM')}
          //a.more(href='/') #{__('GO TO "SEND MY PARCEL"')}
  // promo
  section.promo
    .container
      h2 #{__('Parcel delivery')}
      p
        | #{__('Packet24 is a parcels delivery service for p2p fast delivery.')}
        br
        //| #{__('Check for details')}
      //a(href='/')
        | #{__('SUBSCRIBE')}
        br
        | #{__('HERE')}

block script
  script(src="vendor/jquery/jquery.easy-autocomplete.min.js")
  script(type='text/javascript').
    $('.js-validate').feelform({
      notificationType: 'okIcon, errorIcon',
      validateOnTheFly: true
    });
    var options = {
      url: "/countries_#{lang}.json",
      getValue: "name",
      list: { 
        match: {
          enabled: true
        }
      },
      theme: "square"
    };
    $('#mobile').mask('9999 99999999');
    $("#country").easyAutocomplete(options);
    $('.js-validate').submit(function(event) {
      event.preventDefault();
      $('#country').removeClass('error');
      $('#zip').removeClass('error');
      $('#email').removeClass('error');
      $('#email_again').removeClass('error');
      $('#password').removeClass('error');
      $('#password_again').removeClass('error');
      $('#email_differs').hide();
      $('#password_differs').hide();
      $('#password_tooshort').hide();
      $('#err11000').hide();
      $('#addressError').hide();

      var country = this[8].value;
      /*
      if(country != "Austria" &&
        country != "Belgium" &&
        country != "Bulgaria" &&
        country != "Croatia" &&
        country != "Cyprus" &&
        country != "Czech Republic" &&
        country != "Denmark" &&
        country != "Estonia" &&
        country != "Finland" &&
        country != "France" &&
        country != "Germany" &&
        country != "Greece" &&
        country != "Hungary" &&
        country != "Ireland" &&
        country != "Italy" &&
        country != "Latvia" &&
        country != "Lithuania" &&
        country != "Luxembourg" &&
        country != "Malta" &&
        country != "Netherlands" &&
        country != "Poland" &&
        country != "Portugal" &&
        country != "Romania" &&
        country != "Slovakia" &&
        country != "Slovenia" &&
        country != "Spain" &&
        country != "Sweden" &&
        country != "United Kingdom") {
        $('#country').addClass('error');
        return false;
      }
      */


      if(this[10].value != this[11].value) {
        // email differs
        $('#email_differs').show();
        $('#email').addClass('error');
        $('#email_again').addClass('error');
        return false;
      }
      if(this[12].value != this[13].value) {
        // password differs
        $('#password_differs').show();
        $('#password').toggleClass('error');
        $('#password_again').toggleClass('error');
        return false;  
      }
      if(this[12].value.length < 5) {
        $('#password_tooshort').show();
        $('#password').toggleClass('error');
        return false;
      }
      regdata = $(this).serialize();
      if('#{driver}' == 'true') {
        regdata = regdata + '&login=driver_'+encodeURIComponent($('#email').val())
      } else {
        regdata = regdata + '&login='+encodeURIComponent($('#email').val())
      }
      var country = this[8].value;
      var zip = this[6].value;
      var regurl = this.action;
      Pace.start();
      $.ajax({
        type: 'POST',
        url: '/search/zip',
        data: 'zip='+zip+'&country='+country,
        success: function(geodata) {
          if(geodata.latitude && geodata.longitude) {
            regdata = regdata + '&latitude='+geodata.latitude+'&longitude='+geodata.longitude;
            console.log('Found zip coordinates', geodata);
            $.ajax({
              type: 'POST',
              url: regurl,
              data: regdata,
              success: function(data) {
                console.log('Registered', data);
                $.post('/login', regdata, function(data) {
                  Pace.stop();
                  console.log('Login performed', data);
                  location.href = '/';
                });
              },
              error: function(err) {
                console.log("Registration error", err);
                var json = err.responseJSON;
                if(!json && err.responseText) {
                  json = JSON.parse(err.responseText);
                }
                if(json && json.raw.code == 11000) {
                  $('#err11000').show();
                }
                Pace.stop();
              }});
          } else {
            $('#zip').addClass('error');
            console.log('Zip error', geodata);
            Pace.stop();
          }
        },
        error: function() {
          $('#zip').addClass('error');
          $('#addressError').show();
        }
      });
      return false;
    });
