extend layoutsite

block content
  // content
  section.section
    h1 #{__('FAQs: Account Information and Access')}
    ul.breadcrumbs
      li #{__('You are here')}
      li
        i.fa.fa-angle-double-right
        span #{__('FAQ')}
    .container
      .faq_select
        span.faq_select-span #{__('View questions about:')}
        .faq_select-body
          select.js-select(name='')
            option(value='Account information and access') #{__('Account information and access')}
            option(value='Parcels delievery') #{__('Parcels delievery')}
            option(value='Prices') #{__('Prices')}
            option(value='How get a money') #{__('How get a money')}
        ul.faq_select-ul
          li
            a(href='#') #{__('Show all Answers')}
          li
            a(href='#') #{__('Hide all')}
      ul.faq_accordion.js-accordion
        li
          span
            i.icons-faq_arrow
            | #{__('How do I access my account?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I find my account number?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I find the nearest Bank of America banking center?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('What is a banking center?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('What are your hours?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I change my address?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
        li
          span
            i.icons-faq_arrow
            | #{__('How do I change my legal name?')}
          p
            | #{__('Using')} 
            a(href='#') #{__('Online Banking')}
            |  #{__('or')} 
            a(href='#') #{__('Mobile Banking')}
            | , #{__('you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.')}
  // promo
  section.promo
    .container
      h2 #{__('Parcel delivery')}
      p
        | #{__('Tuber is a parcels delivery service for p2p fast delivery.')}
        br
        | #{__('Check for details')}
      a(href='#')
        | #{__('SUBSCRIBE')}
        br
        | #{__('HERE')}
