extend layoutsite


block header
  // header section
  section.header-section
    .container
      ul
        li
          a(href='/price/#{parcel.id}') 1. #{__('Price offers')}
        li
          a(href='/confirmation/#{parcel.id}') 2. #{__('Confirmation')}
        li
          span 3. #{__('Payment')}
        li
          a(href='/dashboard') 4. #{__('Dashboard')}
      span.title #{user.firstname} #{user.lastname}

block content
  // content
  section.section
    h1 #{__('Payment of the order')}
    hr
    .container
      .order
        h3
          | #{__('SUMMARY OF THE ORDER:')} 
          span #{driver.getPrice(parcel)} &euro;
        ul
          li
            | #{__('FROM:')}  
            if parcel.fromPerson
              strong #{parcel.fromPersonAddress()}
            else
              strong #{parcel.ownerAddress()}
          li
            | #{__('TO:')}  
            if parcel.toPerson
              strong #{parcel.toPersonAddress()}
            else
              strong #{parcel.ownerAddress()}
        ul
          li
            | #{__('SENDING DETAILS:')} 
            strong #{parcel.weight}#{__('kg')}, #{parcel.width}#{__('cm')} x #{parcel.length}#{__('cm')} x #{parcel.depth}#{__('cm')}
          //li
            | #{__('INSURRANCE:')} 
            strong #{__('Standart')} (#{__('until')} #{parcel.insurance} &euro;)
        span.total #{__('TOTAL AMOUNT (Including VAT):')} #{request.price} &euro;
    hr
    .container
      form.form#payment-form(action='/braintree/transaction/#{request.id}', method='POST')
        ul.payment
          li
            input#paypal(type='radio', name='cards')
            label(for='paypal')
              // <a href="https://www.paypal.com" id="link_paypal" target="_blank">
              i.fa.fa-cc-paypal
              // </a>
            label.check(for='#')
          li
            input#card1(type='radio', name='cards')
            label(for='card1')
              i.fa.fa-cc-mastercard
            input#card2(type='radio', name='cards')
            label(for='card2')
              i.fa.fa-cc-visa
            input#card3(type='radio', name='cards')
            label(for='card3')
              i.fa.fa-cc-amex
            label.check(for='#')
            // <i class="icon-mastercard"></i>
            // <i class="icon-visa active"></i>
            // <i class="icon-express"></i>
        #wrap_hide
          label(for='first_name') #{__('CARDHOLDER NAME*')}
          input#first_name(data-braintree-name="cardholder_name", type='text', placeholder='#{__("Name, Family Name")}', autocomplete='cc-name')
          label(for='card') #{__('CARD NUMBER*')}
          input#card(data-braintree-name='number', type='text', placeholder='4556614505116697', inputmode='numeric', maxlength="19", x-autocompletetype="cc-number", autocompletetype="cc-number", autocorrect="off", spellcheck="off", autocapitalize="off", autocomplete="cc-number")
          label(for='card_date') #{__('EXPIRATION DATE*')}
          input#card_date(data-braintree-name='expiration_date', type='text', placeholder='02/16', autocomplete='cc-exp')
          label(for='last_name') #{__('SECURITY CODE*')}
          input#cvv_code(data-braintree-name="cvv", type='text', placeholder='660 (The 3 digits after the card number on the signature panel of your card)')
        button#pay_form_button.orange_button #{__('CONFIRM ORDER')}
      #want_popup_box.popup_box
        span
          | #{__('YOUR PAYMENT HAVE BEEN COMPLETE')}
          strong #{request.price} &euro;
        br
        strong #{__('The carrier will receive a message about that')}
        br
        em * #{__('We will inform you about your order status')}
        br
        a.orange_button(href='/dashboard') #{__('OK')}

block script
  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script(type='text/javascript').
    $('.want_popup').click(function() {
      return false;
    });
    var clientToken = '#{token}';
    var client = new braintree.api.Client({clientToken: clientToken});
    //braintree.setup(clientToken, 'custom', {id: 'payment-form'});
    $("#payment-form").submit(function(event) {
      event.preventDefault();

      if($('#paypal').prop('checked')) {
        location.href = '/paypal/create?request=#{request.id}';
        return;
      }
      
      if(this[4].value.length <=1)
        $('#first_name').addClass('error');
      else
        $('#first_name').removeClass('error');
      if(this[5].value.length <=1)
        $('#card').addClass('error');
      else
        $('#card').removeClass('error');
      if(this[6].value.length <=1)
        $('#card_date').addClass('error');
      else
        $('#card_date').removeClass('error');
      if(this[7].value.length <=1)
        $('#cvv_code').addClass('error');
      else
        $('#cvv_code').removeClass('error');

      url = this.action;
      client.tokenizeCard({
        number: this[5].value,
        cardholderName: this[4].value,
        // You can use either expirationDate
        expirationDate: this[6].value,
        // CVV if required
        cvv: this[7].value,
      }, function (err, nonce) {
        // Send nonce to your server
        if(err) {
          console.log('Billing error', err);
        } else {
          console.log('Nonce', nonce);
          $.ajax({
            type: 'POST',
            url: url,
            data: {payment_method_nonce: nonce},
            success: function(data) {
              console.log('Payment complete', data);
              $('#want_popup_box').bPopup({
                easing: 'easeOutBack', //uses jQuery easing plugin
                  speed: 450,
                  transition: 'slideDown'
              });
            },
            error: function(err) {
              console.log('Payment error', err);
            }
          });
        }
      });
      return false;
    });
    