extend layoutsite

block head

block header
  // header section
  section.header-section
    .container
      ul
        li
          a(href='/price/#{parcel.id}') 1. #{__('Price offers')}
        li
          span 2. #{__('Confirmation')}
        li
          a(href='#') 3. #{__('Payment')}
        li
          a(href='/dashboard') 4. #{__('Dashboard')}
      span.title #{user.firstname} #{user.lastname}

block content
  // content
  section.section
    .confirmation
      .container
        .confirmation-selected
          h3 #{__('YOU HAVE SELECTED')}
          .confirmation-select.confirmation-first-select
            select.js-select#driverSelection(onchange='selectDriver(this)')
              each dr in drivers
                option(driverId='#{dr.driver.id}', price='#{dr.driver.getPrice(parcel)}', delivery='#{dr.driver.getDeliveryPrice(parcel)}', postbox1=dr.driver.pickupPostbox, postbox2=dr.driver.arrivePostbox, homeaddress1=dr.driver.pickupHome, homeaddress2=dr.driver.arriveHome, selected=dr.driver.id == selected.id && dr.delivery == delivery, deliveryType= dr.delivery) #{dr.title}, #{moneyString(dr.price)} &euro;
          .clear
        hr
        #dateblock
        //.confirmation-delivery
          input#day_before(name='day', type='radio')
          label(for='day_before') #{__('day earlier')}
          input#day_later(name='day', type='radio')
          label(for='day_later') #{__('day later')}
          input#2days_later(name='day', type='radio')
          label(for='2days_later') #{__('two days later')}
          .confirmation-calendar
            input.js-datetime(name='pickupDate', type='text', placeholder='28 April 2015', value='#{moment(parcel.pickupDate).format("LL")}')
            #datePicker1.confirmation-calendar-body.js-datetime-body.hide
              h4 #{__('Your check in Date')}
          span.span_to  #{__('to')} 
          .confirmation-calendar
            input.js-datetime(name='arriveDate', type='text', placeholder='28 April 2015', value='#{moment(parcel.arriveDate).format("LL")}')
            #datePicker2.confirmation-calendar-body.js-datetime-body.hide
              h4 #{__('Your check in Date')}
          input#day_before2(name='day2', type='radio')
          label(for='day_before2') #{__('day earlier')}
          input#day_later2(name='day2', type='radio')
          label(for='day_later2') #{__('day later')}
          input#2days_later2(name='day2', type='radio')
          label(for='2days_later2') #{__('two days later')}
        .confirmation-time
          span.white_span #{__('TIME:')} 
          .confirmation-clock
            input#time_from.js-datetime(name='time', type='text', placeholder='12:00 - 15:00', value='#{parcel.pickupTime1} - #{parcel.pickupTime2}')
            .confirmation-clock-body.js-time-body.hide
              .confirmation-clock-header
                span #{__('Your check in TIME')}
              span.time #{__('TIME:')}
              span.at at
              input.time_at.js-time-from(name='pickupTime1', type='text', placeholder=' 14:00 ', value='#{parcel.pickupTime1}')
              span.to to
              input.time_to.js-time-to(name='pickupTime2', type='text', placeholder=' 17:00 ', value='#{parcel.pickupTime2}')
              em #{__('*Period must be have more than two hours.')}
          span.span_to &nbsp;&nbsp;&nbsp;
          .confirmation-clock
            input#time_to.js-datetime(name='time', type='text', placeholder='14:00 - 16:00', value='#{parcel.arriveTime1} - #{parcel.arriveTime2}')
            .confirmation-clock-body.js-time-body.hide
              .confirmation-clock-header
                span #{__('Your check in TIME')}
              span.time #{__('TIME:')}
              span.at at
              input.time_at.js-time-from(name='arriveTime1', type='text', placeholder=' 15:00 ', value='#{parcel.arriveTime1}')
              span.to to
              input.time_to.js-time-to(name='arriveTime2', type='text', placeholder=' 18:00 ', value='#{parcel.arriveTime2}')
              em #{__('*Period must be have more than two hours.')}
        hr
        .confirmation-departure
          span.white_span.to #{__('FROM:')}
          input#postbox(name='post', type='radio', checked=true)
          label#postboxLabel(for='postbox') #{__('POST OFFICE')}
          input#home(name='post', type='radio', checked=true)
          label#homeLabel(for='home') #{__('HOME ADDRESS')}
          //input#postoffice(name='post', type='radio')
          //label(for='postoffice') #{__('POST OFFICE')}
          .confirmation-select
            select.js-select#addressSelect1
              if parcel.fromPerson
                option#homeAddress1(value='#{parcel.fromPerson.latitude},#{parcel.fromPerson.longitude}') #{parcel.fromPersonAddress()}
              else
                option#homeAddress1(value='#{parcel.owner.latitude},#{parcel.owner.longitude}') #{parcel.ownerAddress()}
              each fromShop in fromShops
                option.pboxAddress1(value='#{fromShop.latitude},#{fromShop.longitude}', parcelShopId='#{fromShop.parcelShopId}') #{fromShop.zipCode} #{fromShop.city} #{fromShop.street} #{fromShop.houseNo}
        .confirmation-destination
          span.white_span.from #{__('TO:')}
          input#postbox2(name='post2', type='radio', checked=true)
          label#postboxLabel2(for='postbox2') #{__('POST OFFICE')}
          input#home2(name='post2', type='radio', checked=true)
          label#homeLabel2(for='home2') #{__('HOME ADDRESS')}
          //input#postoffice2(name='post2', type='radio')
          //label(for='postoffice2') #{__('POST OFFICE')}
          .confirmation-select
            select.confirmation-select.js-select#addressSelect2
              if parcel.toPerson
                option#homeAddress2(value='#{parcel.toPerson.latitude},#{parcel.toPerson.longitude}') #{parcel.toPersonAddress()}
              else
                option#homeAddress2(value='#{parcel.owner.latitude},#{parcel.owner.longitude}') #{parcel.ownerAddress()}
              each toShop in toShops
                option.pboxAddress2(value='#{toShop.latitude},#{toShop.longitude}', parcelShopId='#{toShop.parcelShopId}') #{toShop.zipCode} #{toShop.city} #{toShop.street} #{toShop.houseNo}
        .clear
        hr
        .confirmation-confirm
          .confirmation-confirm-title
            h4 #{__('SENDING DETAILS:')}
            span #{parcel.weight}#{__('kg')}, #{parcel.width}#{__('cm')} x #{parcel.length}#{__('cm')} x #{parcel.depth}#{__('cm')}
            //h4 #{__('INSURRANCE:')}
            //span Standart (until #{parcel.insurance} &euro;)
            //h4 #{__('DELIVERY OPTIONS:')}
            //span +
            //span#deliveryPrice #{moneyString(selected.getDeliveryPrice(parcel))}
            //span &euro; #{__('to home adress')}
          .confirmation-confirm-total
            h4
              span #{__('TOTAL AMOUNT (Incl. VAT):')}  
              span#totalPrice #{(selected.getPrice(parcel) + (parcel.insurancePrice ? parcel.insurancePrice : 0) + selected.getDeliveryPrice(parcel)).toFixed(2)} 
              span  &euro;
          a.orange_button(onClick='javascript:confirmation();') #{__('CONFIRM')}
          .clear
  // maps
  section.maps
    .maps-left#map1block
      //.wr-map
        #map1
        .maps-sign #{__('FROM:')} #{__('POSTBOX')}
      //.wr-map
        #map2
        .maps-sign #{__('TO:')} #{__('HOME ADRESS')}
    .maps-right#map2block
      //.wr-map
        #map3
        .maps-sign #{__('PACKAGE ROUTE')}

block script
  script(src="/vendor/react/react-with-addons.js")
  script(src="/vendor/react/react-dom.min.js")
  script(src="/js/site/view/dateblock.js")
  script(src="/js/site/view/gmap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8DhuvWbZHjOZvY_nzTc3EfMFGR0vFNK8")
  script(type='text/javascript').
    selectDriver($('#driverSelection')[0]);
    $('#home').on('click', function() {
      $("#addressSelect1").selectBoxIt().data("selectBox-selectBoxIt").selectOption(0);
    });
    $('#home2').on('click', function() {
      $("#addressSelect2").selectBoxIt().data("selectBox-selectBoxIt").selectOption(0);
    });
    $('#postbox').on('click', function() {
      var selection1 = $('#addressSelect1')[0];
      var selection2 = $('#addressSelect2')[0];
      if(selection2.selectedIndex != 0)
        $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(0);
      if(selection1.selectedIndex == 0)
        $("#addressSelect1").selectBoxIt().data("selectBox-selectBoxIt").selectOption(1);
    });
    $('#postbox2').on('click', function() {
      var selection1 = $('#addressSelect1')[0];
      var selection2 = $('#addressSelect2')[0];
      if(selection1.selectedIndex != 0)
        $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(0);
      if(selection2.selectedIndex == 0)
        $("#addressSelect2").selectBoxIt().data("selectBox-selectBoxIt").selectOption(1);
    });
    $('#addressSelect1').on('change', function(event) {
      var select = $('#driverSelection')[0];
      var option = select.options[select.selectedIndex];
      var deliveryType = option.getAttribute('deliveryType');
      if(event.target.selectedIndex == 0) {
        // delivery from home address
        document.fromParcelShopId = null;
        $('#postbox')[0].checked = false;
        $('#home')[0].checked = true;
        if(deliveryType == 'postbox')
          $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(1);
      } else {
        // delivery from post shop
        document.fromParcelShopId = event.target.options[event.target.selectedIndex].getAttribute('parcelShopId');
        $('#postbox')[0].checked = true;
        $('#home')[0].checked = false;

        var selection2 = $('#addressSelect2')[0];
        if(selection2.selectedIndex != 0)
          $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(0);
      }
      selectDriver(select);
      document.fromParcelShopAddress = event.target.options[event.target.selectedIndex].innerText;
      if(window.marker1) {
        var coords = event.target.value.split(',');
        window.marker1.setPosition(new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1])));
        if(event.target.selectedIndex == 0) {
          $.post('/search/address', {address: document.fromParcelShopAddress}, function(data, status) {
            console.log('True home geo position', data);
            if(data && data.latitude && data.longitude) {
              window.marker1.setPosition(new google.maps.LatLng(data.latitude, data.longitude));
            }
          });
        }
      }
    });
    $('#addressSelect2').on('change', function(event) {
      var select = $('#driverSelection')[0];
      var option = select.options[select.selectedIndex];
      var deliveryType = option.getAttribute('deliveryType');
      if(event.target.selectedIndex == 0) {
        // delivery to home address
        document.toParcelShopId = null;
        $('#postbox2')[0].checked = false;
        $('#home2')[0].checked = true;
        if(deliveryType == 'postbox')
          $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(1);
      } else {
        // delivery to post shop
        document.toParcelShopId = event.target.options[event.target.selectedIndex].getAttribute('parcelShopId');
        $('#postbox2')[0].checked = true;
        $('#home2')[0].checked = false;

        var selection1 = $('#addressSelect1')[0];
        if(selection1.selectedIndex != 0)
          $('#driverSelection').selectBoxIt().data('selectBox-selectBoxIt').selectOption(0);
      }
      selectDriver(select);
      document.toParcelShopAddress = event.target.options[event.target.selectedIndex].innerText;
      if(window.marker2) {
        var coords = event.target.value.split(',');
        window.marker2.setPosition(new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1])));
        if(event.target.selectedIndex == 0) {
          $.post('/search/address', {address: document.toParcelShopAddress}, function(data, status) {
            console.log('True home geo position', data);
            if(data && data.latitude && data.longitude) {
              window.marker2.setPosition(new google.maps.LatLng(data.latitude, data.longitude));
            }
          });
        }
      }
    });
    document.currentDriverId = '#{selected.id}';
    document.currentPrice = #{selected.getPrice(parcel) + (parcel.insurancePrice ? parcel.insurancePrice : 0)}
    document.currentDeliveryPrice = #{selected.getDeliveryPrice(parcel)};
    document.currentTotalPrice = (document.currentPrice + document.currentDeliveryPrice).toFixed(2);
    ReactDOM.render(React.createElement(DateBlock, {
      label1:"#{__('day earlier')}",
      label2:"#{__('day later')}",
      label3:"#{__('two days later')}",
      title:"#{__('Your check in Date')}",
      pdate:'#{parcel.pickupDate}',
      adate:'#{parcel.arriveDate}'}),
      document.getElementById('dateblock'));
    ReactDOM.render(React.createElement(GMap, {
      labelFrom: "#{__('FROM:')}",
      labelTo: "#{__('TO:')}",
      title1: "#{__('HOME ADDRESS')}",
      title2: "#{__('HOME ADDRESS')}",
      lat1: #{parcel.fromPerson ? parcel.fromPerson.latitude : parcel.owner.latitude},
      lon1: #{parcel.fromPerson ? parcel.fromPerson.longitude : parcel.owner.longitude},
      lat2: #{parcel.toPerson ? parcel.toPerson.latitude : parcel.owner.latitude},
      lon2: #{parcel.toPerson ? parcel.toPerson.longitude : parcel.owner.longitude}}),
      document.getElementById('map1block'));
    ReactDOM.render(React.createElement(GPath, {
      labelRoute: "#{__('PACKAGE ROUTE')}",
      lat1: #{parcel.fromPerson ? parcel.fromPerson.latitude : parcel.owner.latitude},
      lon1: #{parcel.fromPerson ? parcel.fromPerson.longitude : parcel.owner.longitude},
      lat2: #{parcel.toPerson ? parcel.toPerson.latitude : parcel.owner.latitude},
      lon2: #{parcel.toPerson ? parcel.toPerson.longitude : parcel.owner.longitude},
      lat3: #{selected.latitude},
      lon3: #{selected.longitude},
      radius3: #{selected.coverageDistance}
      }),
      document.getElementById('map2block'));
    function confirmation () {
      // update parcel
      Pace.start();
      values = $('input.js-datetime');
      var data = {};
      data.pickupDate = moment(values[0].value, 'DD MMMM YYYY').format();
      data.arriveDate = moment(values[1].value, 'DD MMMM YYYY').format();
      var times = values[2].value.split(' - ');
      data.pickupTime1 = times[0];
      data.pickupTime2 = times[1];
      times = values[3].value.split(' - ');
      data.arriveTime1 = times[0];
      data.arriveTime2 = times[1];
      data.status = 'published';
      console.log('Data', data);
      $.post('/api/parcel/#{parcel.id}', data, function(data, status) {
        if(status != 'success') {
          console.log('Result', data, 'status', status);
          Pace.stop();
          return;
        }
        // create request
        var newRequest = {parcel: '#{parcel.id}', driver: document.currentDriverId, sender: '#{user.id}', senderAccepted: false, price: document.currentPrice, deliveryPrice: document.currentDeliveryPrice};
        if(document.fromParcelShopId) newRequest.fromParcelShop = document.fromParcelShopId;
        if(document.toParcelShopId) newRequest.toParcelShop = document.toParcelShopId;
        if(document.fromParcelShopAddress) newRequest.fromParcelShopAddress = document.fromParcelShopAddress;
        if(document.toParcelShopAddress) newRequest.toParcelShopAddress = document.toParcelShopAddress;
        if(!document.fromParcelShopId || !document.toParcelShopId) {
          newRequest.deliveryOption = 'home';
        }
        $.post('/api/request', newRequest, function(request, status) {
          if(status == 'success') {
            $.post('/api/parcel/#{parcel.id}', {request:request.id}, function(data, status) {
              if(status == 'success') {
                $.get('/accept/parcel/#{parcel.id}/carrier/'+document.currentDriverId, function(request, status) {
                  console.log('Accepting driver done', request, status);
                });
                //Pace.stop();
                location.href='/payment/'+request.id;
              } else {
                console.log('Parcel result', data);
                Pace.stop();
              }
            });
          } else {
            console.log('Result', request);
            Pace.stop();
          }
        });
      });
    }
    function selectDriver(select) {
      option = select.options[select.selectedIndex];
      var postbox1Enabled = option.getAttribute('postbox1') != null;
      var homeaddress1Enabled = option.getAttribute('homeaddress1') != null;
      var postbox2Enabled = option.getAttribute('postbox2') != null;
      var homeaddress2Enabled = option.getAttribute('homeaddress2') != null;
      var deliveryType = option.getAttribute('deliveryType');
      if(postbox1Enabled)
        $('#postboxLabel').show();
      else
        $('#postboxLabel').hide();
      if(postbox2Enabled)
        $('#postboxLabel2').show();
      else
        $('#postboxLabel2').hide();
      if(homeaddress1Enabled)
        $('#homeLabel').show();
      else
        $('#homeLabel').hide();
      if(homeaddress2Enabled)
        $('#homeLabel2').show();
      else
        $('#homeLabel2').hide();

      var selection1 = $('#addressSelect1')[0];
      var selection2 = $('#addressSelect2')[0];
      if(postbox1Enabled && (!homeaddress1Enabled || deliveryType == 'postbox') && selection1.selectedIndex == 0) {
        // enable postbox 1
        $("#addressSelect1").selectBoxIt().data("selectBox-selectBoxIt").selectOption(1);
        $('#postbox')[0].checked = true;
        $('#home')[0].checked = false;
      } else if(homeaddress1Enabled && (!postbox1Enabled || deliveryType == 'homeaddress') && selection1.selectedIndex != 0) {
        // enable homeaddress 1
        $("#addressSelect1").selectBoxIt().data("selectBox-selectBoxIt").selectOption(0);
        $('#postbox')[0].checked = false;
        $('#home')[0].checked = true;
      }
      if(postbox2Enabled && (!homeaddress2Enabled || deliveryType == 'postbox') && selection2.selectedIndex == 0) {
        // enable postbox 2
        $("#addressSelect2").selectBoxIt().data("selectBox-selectBoxIt").selectOption(1);
        $('#postbox2')[0].checked = true;
        $('#home2')[0].checked = false;
      } else if(homeaddress2Enabled && (!postbox2Enabled || deliveryType == 'homeaddress') && selection2.selectedIndex != 0) {
        // enable homeaddress 2
        $("#addressSelect2").selectBoxIt().data("selectBox-selectBoxIt").selectOption(0);
        $('#postbox2')[0].checked = false;
        $('#home2')[0].checked = true;
      }
      document.fromParcelShopId = selection1.options[selection1.selectedIndex].getAttribute('parcelShopId');
      document.fromParcelShopAddress = selection1.options[selection1.selectedIndex].innerText;
      document.toParcelShopId = selection2.options[selection2.selectedIndex].getAttribute('parcelShopId');
      document.toParcelShopAddress = selection2.options[selection2.selectedIndex].innerText;

      insurancePrice = parseFloat('#{parcel.insurancePrice}');
      price = parseFloat(option.getAttribute('price')) + (insurancePrice ? insurancePrice : 0);
      document.currentPrice = price;
      document.currentDeliveryPrice = parseFloat(option.getAttribute('delivery'));
      if(!document.fromParcelShopId || !document.toParcelShopId) {
        price += document.currentDeliveryPrice;
      }
      $('span#deliveryPrice').html(document.currentDeliveryPrice.toFixed(2).replace(".", ","));
      $('span#totalPrice').html(price.toFixed(2).replace(".", ","));
      document.currentDriverId = option.getAttribute('driverId');
      document.currentTotalPrice = price.toFixed(2);
    }
