extend layoutsite

block header
  // header section
  section.header-section
    .container
      ul
        li
          span 1. #{__('Price offers')}
        li
          a(href='/confirmation/#{parcel.id}') 2. #{__('Confirmation')}
        li
          a(href='#') 3. #{__('Payment')}
        li
          a(href='/dashboard') 4. #{__('Dashboard')}
      span.title #{user.firstname} #{user.lastname}

block content
  // content
  section.section
    h1 #{__('Price Offers')}
    .container.align-center
      if drivers.cheapest.available
        article.offers
          figure
            img(src='/img/price_cheap.png', alt='')
            if drivers.cheapest.available
              figcaption #{__('FROM')} #{moneyString(drivers.cheapest.price)} &euro;
            else
              figcaption #{__('Not found')}
          strong #{__('cheapest')}
          ul
            li #{__('Expected dates:')}
            //li #{__('Departure:')} #{drivers.cheapest.pickupDate}
            //li #{__('Arrival:')} #{drivers.cheapest.arriveDate}
            li #{__('Departure:')} #{moment(parcel.pickupDate).format('LL')}
            li #{__('Arrival:')} #{moment(parcel.arriveDate).format('LL')}
          //a.more(href='#')
            i.icons-plus
            | #{__('MORE INFO')}
          a.orange_button(href='/confirmation/#{parcel.id}?driverId=#{drivers.cheapest.id}&delivery=#{drivers.cheapest.delivery}', onClick='Pace.start();')
            | #{__('GET IT')}
            br
            | #{__('NOW')}
        //else
          a.orange_button(href='#')
            | #{__('NOT FOUND')}
      if drivers.fastest.available
        article.offers
          figure
            img(src='/img/price_fast.png', alt='')
            if drivers.fastest.available
              figcaption #{__('FROM')} #{moneyString(drivers.fastest.price)} &euro;
            else
              figcaption #{__('Not found')}
          strong #{__('fastest')}
          ul
            li #{__('Expected dates:')}
            //li #{__('Departure:')} #{drivers.fastest.pickupDate}
            //li #{__('Arrival:')} #{drivers.fastest.arriveDate}
            li #{__('Departure:')} #{moment(parcel.pickupDate).format('LL')}
            li #{__('Arrival:')} #{moment(parcel.arriveDate).format('LL')}
          //a.more(href='#')
            i.icons-plus
            | #{__('MORE INFO')}
          a.orange_button(href='/confirmation/#{parcel.id}?driverId=#{drivers.fastest.id}&delivery=#{drivers.fastest.delivery}', onClick='Pace.start();')
            | #{__('GET IT')}
            br
            | #{__('NOW')}
        //else
          a.orange_button(href='#')
            | #{__('NOT FOUND')}
      if drivers.custom1.available
        article.offers
          figure
            img(src='/img/price_eco.png', alt='')
            if drivers.custom1.available
              figcaption #{__('FROM')} #{moneyString(drivers.custom1.price)} &euro;
            else
              figcaption #{__('Not found')}
          strong #{drivers.custom1.title}
          ul
            li #{__('Expected dates:')}
            //li #{__('Departure:')} #{drivers.custom1.pickupDate}
            //li #{__('Arrival:')} #{drivers.custom1.arriveDate}
            li #{__('Departure:')} #{moment(parcel.pickupDate).format('LL')}
            li #{__('Arrival:')} #{moment(parcel.arriveDate).format('LL')}
          if drivers.custom1.available
            //a.more(href='#')
              i.icons-plus
              | #{__('MORE INFO')}
            a.orange_button(href='/confirmation/#{parcel.id}?driverId=#{drivers.custom1.id}&delivery=#{drivers.custom1.delivery}', onClick='Pace.start();')
              | #{__('GET IT')}
              br
              | #{__('NOW')}
        //else
          a.orange_button(href='#')
            | #{__('NOT FOUND')}
      if drivers.custom2.available && (!drivers.cheapest.available || !drivers.fastest.available)
        article.offers
          figure
            img(src='/img/price_eco.png', alt='')
            if drivers.custom2.available
              figcaption #{__('FROM')} #{moneyString(drivers.custom2.price)} &euro;
            else
              figcaption #{__('Not found')}
          strong #{drivers.custom2.title}
          ul
            li #{__('Expected dates:')}
            //li #{__('Departure:')} #{drivers.custom2.pickupDate}
            //li #{__('Arrival:')} #{drivers.custom2.arriveDate}
            li #{__('Departure:')} #{moment(parcel.pickupDate).format('LL')}
            li #{__('Arrival:')} #{moment(parcel.arriveDate).format('LL')}
          if drivers.custom2.available
            //a.more(href='#')
              i.icons-plus
              | #{__('MORE INFO')}
            a.orange_button(href='/confirmation/#{parcel.id}?driverId=#{drivers.custom2.id}&delivery=#{drivers.custom2.delivery}', onClick='Pace.start();')
              | #{__('GET IT')}
              br
              | #{__('NOW')}
      if drivers.custom3.available && !drivers.cheapest.available && !drivers.fastest.available
        article.offers
          figure
            img(src='/img/price_eco.png', alt='')
            if drivers.custom3.available
              figcaption #{__('FROM')} #{moneyString(drivers.custom3.price)} &euro;
            else
              figcaption #{__('Not found')}
          strong #{drivers.custom3.title}
          ul
            li #{__('Expected dates:')}
            //li #{__('Departure:')} #{drivers.custom3.pickupDate}
            //li #{__('Arrival:')} #{drivers.custom3.arriveDate}
            li #{__('Departure:')} #{moment(parcel.pickupDate).format('LL')}
            li #{__('Arrival:')} #{moment(parcel.arriveDate).format('LL')}
          if drivers.custom3.available
            //a.more(href='#')
              i.icons-plus
              | #{__('MORE INFO')}
            a.orange_button(href='/confirmation/#{parcel.id}?driverId=#{drivers.custom3.id}&delivery=#{drivers.custom3.delivery}', onClick='Pace.start();')
              | #{__('GET IT')}
              br
              | #{__('NOW')}
      .clear
      //if more
        a.offers-more(href='#') #{__('SEE MORE OFFERS')}
